<app-nav-bar></app-nav-bar>
 <div class="wrapper ">
    <app-side-bar></app-side-bar>
          <div class="main-panel">
            
            <div class="content">
              <div class="container-fluid">
                <h1>Ajouter Compte</h1>
                <form #c=ngForm (ngSubmit)="submitcompteuser(c.value)">

                  <div class="form-group row col-6 col-md-push-4 offset-md-3">
                      <label for="inputPassword3" class="col-sm-2 col-form-label"></label>
                      <div class="col">
                      <input type="text" #username ngModel required="required" name="username" class="form-control" id="inputPassword3" placeholder="Utilisateur ">
                  </div>
                  </div>
                  <div class="form-group row col-6 col-md-push-4 offset-md-3">
                      <div class="col">
                      <button type="submit" name="valider" class="btn btn-primary"  >RECHERCHER UTILISATEUR</button>
                      </div>
                  </div>
              </form>
              
                    
              <div *ngFor="let u of util " >
               
                      <div class="form-group row col-6 col-md-push-4 offset-md-3">
                          <label for="inputPassword3" class="col-sm-2 col-form-label">Id</label>
                          <div class="col">
                          <input type="text" disabled value={{u.id}}  class="form-control" id="inputPassword3">
                          </div>
                      </div>
              
                      <div class="form-group row col-6 col-md-push-4 offset-md-3">
                          <label for="inputPassword3" class="col-sm-2 col-form-label">Username</label>
                          <div class="col">
                          <input type="text" disabled  value={{u.username}} class="form-control" id="inputPassword3" >
                          </div>
                      </div>
              
                      <div class="form-group row col-6 col-md-push-4 offset-md-3">
                          <label for="inputPassword3" class="col-sm-2 col-form-label">Roles</label>
                          <div class="col">
                          <input type="text"  disabled value={{u.roles}}   class="form-control" id="inputPassword3" >
                          </div>
                      </div>
              
                      <div class="form-group row col-6 col-md-push-4 offset-md-3">
                          <label for="inputPassword3" class="col-sm-2 col-form-label">Prenom</label>
                          <div class="col">
                          <input type="text" disabled value={{u.prenom}}  class="form-control" id="inputPassword">
                          </div>
                      </div>
                      <div class="form-group row col-6 col-md-push-4 offset-md-3">
                              <label for="inputPassword3" class="col-sm-2 col-form-label">Nom</label>
                              <div class="col">
                              <input type="text" disabled value={{u.nom}}  class="form-control" id="inputPassword">
                              </div>
                          </div>
                          <div class="form-group row col-6 col-md-push-4 offset-md-3">
                                  <label for="inputPassword3" class="col-sm-2 col-form-label">Partenaire</label>
                                  <div class="col">
                                  <input type="text" disabled value={{u.partenaire.entreprise}}  class="form-control" id="inputPassword">
                                  </div>
                              </div>
                              <div class="form-group row col-6 col-md-push-4 offset-md-3">
                                      <label for="inputPassword3" class="col-sm-2 col-form-label">Ancien Compte</label>
                                      <div class="col">
                                      <input type="text" disabled value={{u.compte}}  class="form-control" id="inputPassword">
                                      </div>
                                  </div>
                         
              </div>
              
              <form *ngFor="let u of util "  #f=ngForm (ngSubmit)="onsubmit(f.value)">
              
                      <div class="form-group row col-6 col-md-push-4 offset-md-3">
                          <label hidden for="inputPassword3" class="col-sm-2 col-form-label">Utilisateur</label>
                          <div class="col">
                              <input hidden type="text"   #username ngModel={{u.username}} name="username" class="form-control" id="inputPassword3" placeholder="Utilisateur ">
                      </div>
                      </div>
                      <div class="form-group row col-6 col-md-push-4 offset-md-3">
                          <label for="inputPassword3" class="col-sm-2 col-form-label">Compte</label>
                          <div class="col">
                          <select class="form-control"  #compte ngModel name="compte">
                              <option *ngFor="let c of comptes" value={{c.id}}>{{c.numCompte}}</option>
                          </select>
                      </div>
                      </div>
                      <div class="form-group row col-6 col-md-push-4 offset-md-3">
                          <div class="col">
                          <button type="submit" name="valider" class="btn btn-primary">ATTRIBUER UN COMPTE</button>
                          </div>
                      </div>
                  </form>
                
                <router-outlet></router-outlet>
               
              </div>
            </div>
       <app-footer></app-footer>
          </div>
        </div>
